<!DOCTYPE html>
<html>
<head>
  <title>Lesy Luxury</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="center">

  <h1 class="brand">Welcome to Lesy Luxury</h1>
  <p class="tagline">Premium Fashion • Shoes • Gadgets</p>

  <a href="/login" class="btn big">Get Started</a>

</body>
</html>
