<!DOCTYPE html>
<html>
<head>
  <title>Sign Up | Lesy Luxury</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="center">

<h1>Create Account</h1>

<form method="POST" action="/signup" class="card">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>

  <button class="btn">Sign Up</button>
</form>

<a href="/login" class="link">Already have an account? Login</a>

</body>
</html>
